# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# external packages folder
vendor/*/

# application specific files
.vscode
config.yml
keys.yml
booking-api
booking-api.exe

steamcmd

# vscode debugging files
debug
debug~

# Ignore server daemon
config
handlers
rpc
server
stack
uploader
util
handler.go
main.go 
steamcmd_linux.go
steamcmd_windows.go

config.example.yml
keys.example.yml
